@font-face {
    font-family: 'Raleway', sans-serif;/*a name to be used later*/
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap'); /*URL to font*/
}

.container{
	text-align: right;
	position: absolute;
	width: 400px;
	height: auto;
	bottom:0%;
	right: 1%;
}

img {
	width: 100%;
	height: auto;
	border: 6px solid rgb(255, 255, 255);
	border-radius: 2px;
	z-index: 1;
}

.bottom-right {
	text-align: right;
	position: absolute;
	font-family: 'Raleway', sans-serif;
	font-size: 200%;
	font-weight: 200;
	bottom: 25%;
	right: 1%;
	z-index: 20;
	color: white;
}

.description {
	text-align: right;
	position: inherit;
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	font-weight: 200;
	bottom: 10%;
	right: 1%;
	z-index: 20;
	color: white;
	word-wrap: normal;
}

